include ../../pug/mixins/mixin-card-horizontal
.results
    .wrapper.results__wrapper
        h3.h3-title.results__h3-title Результат
        h2.h2-title.results__h2-title Красивая сияющая кожа каждый день!
        +mixin-card-horizontal('result-1', 'Все дело в недостатке увлажнения. Клетки кожи быстро теряют влагу и не могут самостоятельно восполнить ее в течение дня. Поэтому нужно средство, которое не просто увлажняет верхний слой кожи, а насыщает клетки влагой на весь день.', ' ', 'Почему кожа тускнеет к концу дня?')
        +mixin-card-horizontal('result-2', 'Конечно, подойдет! Крем и гель Care – это комплексный уход, созданный для всех типов кожи. При ежедневном использовании клетки кожи наполняются влагой и витаминами, что способствует упругости и ровному цвету лица.', ' ', 'А мне подойдет уход Nivea Care?')
        h2.h2-title.results__h2-title Красивая кожа – это так просто!