.results {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    &__h2-title {
        width: 593px;
    }
    &__h3-title {
        margin-bottom: 14px;
    }
}

.card-horizontal-result-1, .card-horizontal-result-2 {
    display: flex;
    justify-content: space-between;
    width: 870px;
    height: 505px;
    position: relative;
    &__title {
        @include Nivea-Bold(800, 24px, 29px);
        text-transform: uppercase;
        color: #06369D;
    }
    &__description {
        width: 405px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        & p {
            @include Nivea(400, 18px, 26px);
            color: #0032A0;
            margin-top: 14px;
        }
    }
    &__image {
        height: 505px;
        width: 405px;
    }
}

.card-horizontal-result-1 {
    // flex-direction: row-reverse;
    margin-top: 100px;
    &__image {
        background-image: url('/src/img/result-1.png');
    }
}

.card-horizontal-result-2 {
    flex-direction: row-reverse;
    margin-top: 120px;
    margin-bottom: 50px;
    &__image {
        background-image: url('/src/img/result-2.png');
    }
}