.breadcrumb     
    .wrapper.wrapper_breadcrumb
        .breadcrumb__left
            svg.home
                use(xlink:href="/src/img/vectors.svg#Home")
            svg.expand_right
                use(xlink:href="/src/img/vectors.svg#expand_right")
            a(href="#") Акция
            svg.expand_right
                use(xlink:href="/src/img/vectors.svg#expand_right")
            a(href="#") CARE MAX 
        .breadcrumb__right
            svg.expand_top  
                use(xlink:href="/src/img/vectors.svg#expand_top")
            a(href="#") Топ 