.breadcrumb {
    width: 100%;
    height: 34px;
    border-bottom: 1px solid #D6DCEC;
    display: flex;
    justify-content: center;
}

.wrapper_breadcrumb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home {
    width: 14px;
    height: 14px;
}

.expand_right {
    width: 6.63px;
    height: 11.56px;
    margin-right: 4.65px;
    margin-left: 6px;
}

.breadcrumb__left {
    align-items: center;
    display: flex;
    a {
        text-decoration: none;
        color: #0032A0;
        @include Nivea(normal, 14px, 17px);
    }
}

.breadcrumb__right {
    a {
        text-decoration: none;
        color: #0032A0;
        @include Nivea(normal, 14px, 17px);
    }
}

.expand_top {
    width: 9.82px;
    height: 12px;
    margin-right: 5.16px;
}