.breadcrumb     
    .wrapper.wrapper_breadcrumb
        .breadcrumb__left
            img.home(src=require("/src/img/Home.svg"))
            img.expand_right(src=require("/src/img/expand_right.svg"))
            a(href="#") Акция
            img.expand_right(src=require("/src/img/expand_right.svg"))
            a(href="#") CARE MAX 
        .breadcrumb__right
            img.expand_top(src=require("/src/img/expand_top.svg"))
            a(href="#") Топ 