.buy {
    padding-top: 102px;
    display: flex;
    justify-content: center;
    &__wrapper {
        align-items: center;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-between;
    }
}