include ../../pug/mixins/mixin-buy-card

.buy 
    .wrapper.buy__wrapper 
        +mixin-buy-card('1', require('/src/img/gel_big.png'), 'Увлажняющий крем для лица Care')
        +mixin-buy-card('2', require('/src/img/cream_big.png'), 'Очищающий гель для лица Care')
        +mixin-buy-card('3', require('/src/img/3.png'), 'Ночной крем для лица Care')
        +mixin-buy-card('4', require('/src/img/4.png'), 'Очищающий гель для лица Care')
        +mixin-buy-card('5', require('/src/img/5.png'), 'Увлажняющий крем для лица Nivea Care Антивозрастной')
        +mixin-buy-card('6', require('/src/img/6.png'), 'Увлажняющий крем Care для чувствительной кожи')