include ../../pug/mixins/mixin-buy-card

.buy 
    .wrapper.buy__wrapper 
        +mixin-buy-card('1', '/src/img/gel_big.png', 'Увлажняющий крем для лица Care')
        +mixin-buy-card('2', '/src/img/cream_big.png', 'Очищающий гель для лица Care')
        +mixin-buy-card('3', '/src/img/3.png', 'Ночной крем для лица Care')
        +mixin-buy-card('4', '/src/img/4.png', 'Очищающий гель для лица Care')
        +mixin-buy-card('5', '/src/img/5.png', 'Увлажняющий крем для лица Nivea Care Антивозрастной')
        +mixin-buy-card('6', '/src/img/6.png', 'Увлажняющий крем Care для чувствительной кожи')