include ../../pug/mixins/mixin-advantages

+mixin-advantages("cream", "Забота и комфорт в одной баночке", "Быстро впитывается – никакого липкого слоя и жирного блеска;", "Не скатывается – идеальная основа под макияж;", "Не забивает поры – ровная чистая кожа надолго;", "Долго не заканчивается — супербаночка на 100 мл.")