.hero 
    .wrapper
        .hero__cream
        .hero__gel
        .hero__card 
            h1 
                | Комплексный 
                br
                | уход 
                br
                | от Nivea CARE
            p &#x2012; то, что нужно вашей коже