extends ../../pug/layouts/main_layout.pug

append head 
    title NIVEA 
    script(src="/src/pages/index/index.js")
block container 
    include ../../blocks/hero/hero
    include ../../blocks/cream/cream
    include ../../blocks/gel/gel
    include ../../blocks/results/results
    include ../../blocks/buy/buy
    include ../../blocks/share/share