footer 
    .footer            
        .container 
            .wrapper.container__wrapper
                .footer__left
                    .footer__news 
                        h3.footer-title Будьте в курсе: будьте в курсе событий
                        ul.footer__list
                            li Условия пользования  
                            li Политика в отношении обработки персональных данных  
                            li Юридическая информация 
                    .footer__nav
                        h3.footer-title Как мы можем вам помочь: больше о Nivea
                        a(href="#") Где купить? 
                        span | 
                        a(href="#") История бренда
                        span | 
                        a(href="#") Карьера в Beiersdorf
                        a(href="#") Забота о планете с NIVEA
                        span | 
                        a(href="#") Контакты
                .footer__right
                    .footer__subscribe 
                        h3.footer-title Наша рассылка
                        ul.footer__subscribe-list
                            li - Последняя информация, советы по уходу, идеи и предложения
                            li - Эксклюзивные бесплатные образцы продукции, подобранные специально для вас
                        input.footer__subscribe-input(type="email" placeholder="Электронная почта")
                        button.footer__send-btn
                    .footer__join
                        h3.footer-title присоединяйтесь
                        img(src="/src/img/footer_vk.svg", alt="vk")
                        img(src="/src/img/footer_inst.svg", alt="inst")
                        img(src="/src/img/footer_yotube.svg", alt="youtube")
        .copyright 
            .wrapper.copyright__wrapper
                img(src="/src/img/Beiersdorf.png", alt="Beiersdorf")
                p Copyright &#169; Beiersdorf 2021