.cream
    .wrapper.cream__wrapper
        h2.cream__title.h2-title Увлажняем кожу с помощью крема для лица Care
        include ../card-horizontal-cream/card-horizontal-cream
        include ../card-info-cream/card-info-cream
        .cream__image
            img(src=require("/src/img/cream_big.png"), alt="cream_big")
        .cream__h3
            h3.h3-title Крем Care от Nivea увлажняет глубокие слои кожи и сохраняет ее внутри до 24 часов!
        include ../advantages-cream/advantages-cream
        .buy-button_filled