mixin mixin-advantages(classname, title, ...items)
    div(class= 'advantages-' + classname)
        h2.h2-title= title
        ul(class= 'advantages-' + classname + '__list')
            each item in items 
                li 
                    span.item 
                    p= item