.card-horizontal-gel {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 870px;
    height: 200px;
    position: relative;
    &__description {
        width: 405px;
        height: 100%;
        & p {
            @include Nivea(400, 18px, 26px);
            color: #0032A0;
            margin-top: 71px;
        }
    }
    &__image {
        height: 200px;
        width: 405px;
        background: linear-gradient(180deg, #82D4FF 0%, #D6F0FF 100%);
        position: relative;
        display: flex;
        justify-content:center;
        & img {
            position: absolute;
            top: -40px;
        }
    }
}