include ../../pug/mixins/mixin-card-info

+mixin-card-info('gel', 'Не просто очищает, а ухаживает за кожей!', 'Освежающий гель с витамином Е мягко удаляет макияж и все загрязнения. При соприкосновении с водой, он превращается в шелковистую пену, которая глубоко очищает и увлажняет кожу.')