.share 
    .wrapper.share__wrapper 
        h2.h2-title Поделиться
        .share__icons 
            img(src=require("/src/img/vk.svg") alt="vk")
            img(src=require("/src/img/fb.svg") alt="fb")
        .share__politic
            img(src=require("/src/img/politic.png") alt="politic")
            p Нажав на значок, вы соглашаетесь с тем, что ознакомились и принимаете положения Политики в отношении обработки персональных данных.