.gel {
    padding-top: 51px;
    display: flex;
    justify-content: center;
    &__title {
        width: 610px;
        margin-bottom: 52px;
    }
    &__wrapper {
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    &__image {
        margin-top: 24px;
    }
    &__h3 {
        margin-top: 20px;
        width: 713px;
        height: 58px;
    }
    & .buy-button_filled {
        margin-top: 118px;
    }
}

.advantages-gel {
    margin-top: 70px;
}

