.gel 
    .wrapper.gel__wrapper
        h2.gel__title.h2-title Бережное очищение без сухости кожи
        include ../card-horizontal-gel/card-horizontal-gel
        include ../card-info-gel/card-info-gel
        include ../advantages-gel/advantages-gel
        .buy-button_filled