.advantages-gel {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__list {
        list-style-type: none;
        margin-top: 23px;
        & li {
            display: flex;
            margin-bottom: 20px;
            color: #06369D;
            @include Nivea(400, 18px, 24px);
            align-items: center;
            &:last-child {
                margin-bottom: 0;
            }
            & .item {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: #E5007D;
                display: flex;
                position: relative;
                // align-items: center;
                justify-content: center;
                margin-right: 10px;
                &::after {
                    position: absolute;
                    top: 4px;
                    content: '';
                    width: 4px;
                    height: 7px;
                    border-bottom: 2px solid white;
                    border-right: 2px solid white;
                    transform: rotate(45deg);
                }
            }
        }
    }
}