.bottom 
    .wrapper.bottom_wrapper 
        ul.bottom__nav 
            li Как принять участие
            li Правила
            li Призы
            li Как сфотографировать чек
            li Вопросы
            li Чат-бот