.buy-button {
    width: 144px;
    height: 50px;
    border: 1px solid #06369D;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &::after {
        content: "купить";
        text-transform: uppercase;
        color: #06369D;
        @include Nivea-Bold(700, 18px, 24px);
    }
}