.buy-card {
    width: 468px;
    min-height: 555px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid coral;
    margin: 0 16px 50px 16px;
    align-self: stretch;
    &__image {
        width: 100%;
        height: 100%;
        align-items: center;
        vertical-align: middle;
        display: flex;
        justify-content: center;
        // border: 1px solid coral;
        & img {
            display: block;
            margin-bottom: 50px;
            margin-top: 50px;
        }
    }
    &__title {
        width: 100%;
        // border: 1px solid coral;
        display: flex;
        flex-direction: column;
        align-items: center;
        & h3 {
            width: 355px;
        }
    }
    &__buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        // border: 1px solid coral;
        margin-bottom: 50px;
        margin-top: 34px;
    }
    &__ozon, &__wild {
        width: 175px;
        height: 106px;
        // border: 1px solid coral;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin: 0 14px;
    }
    &__ozon {
        width: 175px;
        height: 106px;
        // border: 1px solid coral;
        & img {
            position: absolute;
            top: 0;
        }
    }
    &__wild {
        width: 175px;
        height: 106px;
        // border: 1px solid coral;
        & img {
            position: absolute;
            top: 5px;
        }
    }
}