.footer__send-btn {
    width: 176px;
    height: 46px;
    background: #06369D;
    border-radius: 23px;
    border: none;
    outline: none;
    margin-top: 20px;
    &::after {
        content: "отправить";
        text-transform: uppercase;
        color: #ffffff;
        @include Nivea-Bold(800, 16px, 19px);
    }
}