.top
    .wrapper.wrapper_top
        .top__logo
            svg.nivea-wordmark
                use(xlink:href='/src/img/vectors.svg#logo')
        .top__nav
            ul.top__nav-list
                li.top__nav-item Продукты
                li.top__nav-item Рекомендации
                li.top__nav-item Новинки
                li.top__nav-item Мир nivea
        .top__auth
            a.auth__search(href='#')
                svg.icon
                    use(xlink:href='/src/img/vectors.svg#search')
            a.auth__user(href='#')
                svg.icon
                    use(xlink:href='/src/img/vectors.svg#user')
            a.auth__settings(href='#')
                svg.icon
                    use(xlink:href='/src/img/vectors.svg#settings')