.top
    .wrapper.wrapper_top
        .top__logo
            img.nivea-wordmark(src=require('/src/img/logo.svg'))
        .top__nav
            ul.top__nav-list
                li.top__nav-item Продукты
                li.top__nav-item Рекомендации
                li.top__nav-item Новинки
                li.top__nav-item Мир nivea
        .top__auth
            a.auth__search(href='#')
                img.icon(src=require('/src/img/search.svg'))
            a.auth__user(href='#')
                img.icon(src=require('/src/img/user.svg'))
            a.auth__settings(href='#')
                img.icon(src=require('/src/img/settings.svg'))