include ../../pug/mixins/mixin-card-info

+mixin-card-info('cream', '100% увлажнения и 0% жирного блеска!', 'Легкая формула крема быстро впитывается и при этом эффективно увлажняет глубокие слои кожи и питает кожу, а его шелковистая текстура с маслом Ши придает коже особую мягкость и устраняет сухость и шелушения.')